
$clr-1:rgb(248, 244, 242);
$clr-2:rgb(121, 132, 139);
$clr-3:rgb(142, 169, 174);
$clr-4:rgb(130, 133, 142);
$clr-5:rgb(52, 55, 66);

.whoBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 100px;
  .whoTitle{
    margin: 50px 0 50px 0;
    align-self: center;
  }
  .variants{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .variantsBtns{
      align-self: end;
      margin-right: 20px;
      *{
        margin: 0 10px;
      }
    }
    .variant{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      min-height: 300px;
      .icon{
        align-self: flex-start;
        margin-bottom: 15px;
        background-color:rgba(121, 132, 139,.5);
        padding: 20px;
        border-radius: 50%;
      }
      h4{
        color:$clr-5;
        margin-bottom: 20px;
        font-size: 1.2rem;
        font-weight: 1200;
      }
      p{
        color:$clr-5;
        font-size: 1rem;
        min-height: 130px;
      }
    }

  }
}
