
$clr-1:rgb(248, 244, 242);
$clr-2:rgb(121, 132, 139);
$clr-3:rgb(142, 169, 174);
$clr-4:rgb(130, 133, 142);
$clr-5:rgb(52, 55, 66);

.button{
  margin: 40px 0 0 0;
  height: 40px;
  border-radius: 5px;
  width: 200px;
  background-color:$clr-2 !important;
  color: $clr-1;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  &:hover{
    cursor: pointer;
  }
  &:active{
    background-color: $clr-1 !important;
    color: black;
  }
}