
$clr-1:rgb(250, 250, 250);
$clr-2:rgb(121, 132, 139);
$clr-3:rgb(142, 169, 174);
$clr-4:rgb(130, 133, 142);
$clr-5:rgb(52, 55, 66);
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

.formContainer{
  display:flex;
  justify-content: center;
  align-content: center;
  background-color: $clr-3;
  width: 100%;
  min-height: 600px;
  padding: 50px 20px;
  overflow: hidden;
  @media screen and (max-width: 600px){
    padding: 50px 0;
  }
  .errorLink{
    color: $clr-5;
    opacity: .5;
    &:visited{
      color: $clr-5;
    }
  }
}
.agreementContainer{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-start;
.cBox{
  width: 15px!important;
  height: 15px!important;
  margin-right: 20px!important;
}
  label{
    font-size:.7rem
  }
}
.sucsessContainer{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $clr-1;
    margin: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    h1{
      font-size: 1.3rem;
      text-align: center;
      padding: 0 30px;
    }
  img{
    width: 110px;
    height: 110px;
    margin-bottom:100px;
  }

}
.applyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background-color: $clr-1;
  width: 80%;
  padding: 30px 20px 20px 20px;
  @media screen and (max-width: 600px){
    padding: 30px 5px 20px 5px;
  }
  ::placeholder{
    color: $clr-5;
  }
  .subBtn{
    background-color: $clr-1!important;
    color: $clr-5!important;
    margin-top: 20px!important;
    &:active{
      color: $clr-1!important;
      background-color: $clr-5!important;
    }
  }
  //box-shadow:$shadow;
  .typeSelect{
    margin-bottom: 20px;
  }
  .PhoneInput{
    width: 80%;
    @media screen and (max-width: 600px){
      width: 100%;
    }
  }
  .PhoneInputCountry{
    background-color: $clr-1;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    border-radius: 0;
  }
  .PhoneInputInput{
    border-radius: 0;
  }
  input{
    height: 40px;
    width: 80%;
    padding: 0 10px;
    margin-bottom: 10px;
    border: none;
    background-color: $clr-1;
    border-radius: 0;
    &:focus{
      outline: none;
    }
    @media screen and (max-width: 600px){
      width: 100%;
    }

  }
  select{
    height: 40px;
    width: 80%;
    border: none;
    padding: 0 10px;
    margin-bottom: 10px;
    background-color: $clr-1;
    -webkit-appearance: none;
    -webkit-text-fill-color: $clr-5;
    &:focus{
      outline: none;
    }
    @media screen and (max-width: 600px){
      width: 100%;
    }
    &option[disabled]{
        color: $clr-5;
    }
  }
  select:required {
    color: #666;
  }
  #text{
    color: rgba(133, 13, 13, 1);
    font-size: .9rem;
    text-align: start;
    opacity: .6;
    margin-bottom: 5px;
    align-self: start;
    padding-left: 15px;
    position: relative;
    bottom: 6px;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
  }
  .error,
  .errorLink{
    color: rgba(133, 13, 13, 1);
    font-size: .9rem;
    text-align: start;
    opacity: .6;
    margin-bottom: 5px;
    align-self: start;
    padding-left: 10%;
    position: relative;
    bottom: 6px;
    }


  }