
$clr-1:rgb(248, 244, 242);
$clr-2:rgb(121, 132, 139);
$clr-3:rgb(142, 169, 174);
$clr-4:rgb(130, 133, 142);
$clr-5:rgb(52, 55, 66);

.about{
  margin-top: 40px;
  height: fit-content;
  width: 100%;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  .aboutText{
    border-radius: 10px;
    background-color: $clr-4;
    padding: 20px 20px;
    width: 70%;
    color: $clr-1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 50px;
    @media screen and (min-width: 900px){
      width: 60%;
      justify-self: center;
    }

  }
  .aboutText1{
    @media screen and (max-width: 900px){
      align-self: end;
    }

  }
  .aboutText2{
    @media screen and (max-width: 900px){
      align-self: start;
    }
  }
}