.plusContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./background/sloBackDesctop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  @media screen and (max-width: 900px){
    background-image: url("./background/4.png");
    background-size: contain;
  }
  .plusIcons{
    width:100%;
    height: 100%;
    padding: 100px 20px;
    display: grid;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0;
    background-color: rgba(255,255, 255, 0.65);
    font-weight: 600;
    @media (min-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
      padding: 100px;
      grid-column-gap: 30px;
      grid-row-gap: 20px;
    }

  }
  .plus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    img{
        width: 80px;
        height: 80px;
      @media (max-width: 900px){
        width: 60px;
        height: 60px;
        padding: 0;
      }
    }
    h1{
      font-size: 1.3rem;
      font-weight: 900;
      text-align: start;
      margin: 10px 0;
      @media (max-width: 900px){
       font-size: 1rem;
      }
    }
    p{
      text-align: start;
      opacity: .75;
      @media screen and (max-width: 900px){
        font-size: .9rem;
      }

      }
    }
  }

