$background: rgba(250, 250, 249,1);
$buttonColor: rgba(179, 204, 95, 0.9);
$blue-light: rgba(127, 158, 163,1);
$blue-dark: rgba(28, 30, 46,1);
$deep-purple:rgba(113, 113, 131,1);
$color5:rgba(113, 113, 131,1);
$clr-1:rgb(248, 244, 242);
$clr-2:rgb(121, 132, 139);
$clr-3:rgb(142, 169, 174);
$clr-4:rgb(130, 133, 142);
$clr-5:rgb(52, 55, 66);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.nav {
  min-height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: 0 0 0 0;
  padding: 0 15px;
  position: fixed;
  height: 50px;
  background-color: $clr-1;
  z-index: 1000;
}
.dropDownButton{
  margin: 0 20px 0 0;
  border: none;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  &:hover{
    cursor: pointer;
  }
}

.Navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 40%;
  background-color: $clr-1;
  .contacts {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 30px;
    span{
      margin: 20px 0 0 0;
      a{
        margin: 0 0 0 15px;
        font-size: 1rem;
        padding: 10px 0;
        opacity: .7;
        color: black;
      }
    }
    .applyNow{
      align-self: center;
      margin: 40px 0 0 0;
      height: 40px;
      border-radius: 5px;
      width: 200px;
      background-color:$clr-2 !important;
      color: $clr-1;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      &:hover{
        cursor: pointer;
        background-color: $clr-3 !important;
      }
      &:active{
        background-color: $clr-4 !important;
      }
    }
    a{
      text-decoration: none;
      color: black;
      &:visited{
        color: black;
      }
    }
  }
  .linksContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .dropDownButton {
      justify-self: end;
      margin-top: 20px;
      margin-right: 15px;
    }

    .navLinks {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;

      a {
        text-decoration: none;
        margin: 20px 0 0 0;
        color: black;
        width: 100%;

        &:visited {
          color: black;
        }
      }


      .navLink {
        font-size: 1.3rem;
        margin-top: 5px;
        opacity: .6;

        &:visited {
          color: black;
        }
      }
    }
  }
}
.langSelector{
    display: flex;
    align-items: center;
    justify-content: center;
  .flagImg{
      width: 30px;
      height: 30px;
      margin: 0 2px 0 0;
  }
  p{
    margin: 0 5px 0 0;
  }
}
.navBtnText{
  color: $clr-1!important;
}

.MuiSelect-select.MuiSelect-select{
  border: none!important;
}
.MuiSvgIcon-root{
  color: black!important;
  margin: 0 0 0 10px!important;
}

