$clr-1:rgb(248, 244, 242);
$clr-2:rgb(121, 132, 139);
$clr-3:rgb(142, 169, 174);
$clr-4:rgb(130, 133, 142);
$clr-5:rgb(52, 55, 66);

.footer{
  background-color: $clr-5;
  height: 150px;
  padding: 20px 50px;
  margin-top: 150px;
  *{
    color: $clr-1;
  }
}