

$clr-1:rgb(250, 250, 250);
$clr-2:rgb(121, 132, 139);
$clr-3:rgb(142, 169, 174);
$clr-4:rgb(130, 133, 142);
$clr-5:rgb(52, 55, 66);

.whoBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px 50px 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color:$clr-3;

  .whoTitle{
    margin: 50px 0 50px 0;
    align-self: center;
    font-size: 2rem;
    color:$clr-1;
  }
  .variants{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: $clr-1;
    overflow: hidden;
    height: 450px;
    @media screen and (max-width: 1000px){
      width: 70%;
    }
    @media screen and (max-width: 500px){
      width: 100%;
    }
    .variantsBtns{
      align-self: center;
      margin: 5px;
      padding: 0 30px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      *{
        &:hover{
          cursor: pointer;
        }
        &:active {
          transform: scale(1.1);
        }
      }
    }
    .variant{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      min-height: 350px;
      overflow: hidden;
      .icon{
        align-self: flex-start;
        margin-bottom: 15px;
        background-color:rgba(121, 132, 139,.5);
        padding: 20px;
        border-radius: 50%;
        overflow: hidden;
      }
      h4{
        color:$clr-5;
        margin-bottom: 20px;
        font-size: 1.2rem;
        font-weight: 1200;
      }
      p{
        color:$clr-5;
        font-size: 1rem;
        min-height: 130px;
        margin-bottom: 20px;
      }
      .Wholink{
        text-decoration: none;
        color: $clr-1;
        &:visited{
          color: $clr-1;
        }
      }
    }

  }
}
